<div class="login-body">
    <div class="login-panel p-fluid">
        <div class="login-panel-header">
            <img src="assets/layout/images/logo-slim.png">
        </div>
        <div class="login-panel-content">
            <div class="grid">
                <div class="col-12">
                    <h1>Sign-in to Serenity Network</h1>
                </div>
                <div class="col-12">
                    <span class="p-float-label">
                        <input type="text" pInputText>
                        <label>Username</label>
                    </span>
                </div>
                <div class="col-12">
                    <span class="p-float-label">
                        <input type="text" pInputText>
                        <label>Password</label>
                    </span>
                </div>
                <div class="col-12">
                    <button pButton type="button" label="Sign In" icon="pi pi-user"></button>
                </div>
                <div class="col-12">
                    Don't have an account? <a href="#">Sign Up</a> now.
                </div>
            </div>
        </div>
    </div>
</div>
